<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Movie Trailer Database</title>

    <link rel="stylesheet" href="../../node_modules/material-design-lite/material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>

    <div>
        @RenderBody()
    </div>

    <script src="../../node_modules/material-design-lite/material.min.js"></script>
</body>
</html>