<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Movie Trailer Database</title>

    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="../../node_modules/material-design-lite/material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>

    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

    <div>
        @RenderBody()
    </div>

    <script src="../../node_modules/material-design-lite/material.min.js"></script>
</body>
</html>